/* Apply default styles to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}

/* Style the wrapper for scrolling */
.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    perspective: 12px;
}

/* Style the container for the main content */
.container {
    position: relative;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

/* Style the background and foreground images */
.background, .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Apply transformations to the background image for parallax effect */
.background {
    transform: translateZ(-48px) scale(5.05);
}

/* Apply transformations to the foreground image for parallax effect */
.foreground {
    transform: translateZ(-24px) scale(3.05);
}

/* Style the page title */
h1 {
    position: absolute;
    font-size: 10rem;
    color: white;
    top: 5%;
    letter-spacing: 20px;
    text-shadow: 2px 2px 4px black;
}

/* Style the main content section */
section {
    background-color: rgb(45, 45, 45);
    color: #fff;
    padding: 5rem 0;
}

/* Style the section title */
#sech2 {
    font-size: 5rem;
    padding: 0 10rem;
}

/* Style the text content within the section */
.text {
    font-size: 1.5rem;
    margin: 5rem 0;
    padding: 0 10rem;
}

/* Style the background images for different sections */
.bg {
    position: relative;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Apply background image for the first section */
.bg1 {
    background-image: url(Images/sport-1.jpg);
}

/* Apply background image for the second section */
.bg2 {
    background-image: url(Images/sport-2.jpg);
}

/* Apply background image for the third section */
.bg3 {
    background-image: url(Images/sport-3.jpg);
}

/* Style the description text within sections */
.desc {
    position: absolute;
    background-color: white;
    color: black;
    padding: 0.5rem 2.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    top: 40%;
    left: 40%;
}
